<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pratik Mahobiya</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'img/profile-3.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="{% url 'index' %}">Pratik Mahobiya</a></h1>
        <div class="social-links mt-3 text-center">
          <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
          <a href="https://www.facebook.com/pratik.mahobiya"                class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/pratik_mahobiya/"               class="instagram"><i class="bx bxl-instagram"></i></a>
          <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
          <a href="https://www.linkedin.com/in/pratik-mahobiya-57098b199/"  class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/PratikMahobiya"  class="github"><i class="bx bxl-github"></i></a>
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="{% url 'index' %}"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#services"><i class="bx bx-server"></i> Services</a></li>
          <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Pratik Mahobiya</h1>
      <p>I'm <span class="typed" data-typed-items="Algo Trader ,Developer, Freelancer."></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Dedicated and result-oriented Python developer in developing and testing Algorithms, Computer Vision tools, API Integrations, Algo Trading and implementation of new technologies.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'img/profile-3.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Software Developer &amp; Algo Trader &amp; Freelancer.</h3>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Name:</strong> Pratik Mahobiya</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> April 18, 1997</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Bachlore</li>
                  <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Korba, Chhattisgarh, INDIA</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +91-7000-68-10-73</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> pratikmahobiya20@gmail.com</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                </ul>
              </div>
              <!-- <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +91-7000-68-10-73</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> pratikmahobiya20@gmail.com</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>I'm Always push myself toward the new challanges, Lets meet up and develop something better then expected.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-sm ftco-animate">
            <a href="#" class="partner"><img src="{% static 'img/skills/Skill_1.png' %}" class="img-fluid" alt="Colorlib Template"></a>
          </div>
          <div class="col-sm ftco-animate">
            <a href="#" class="partner"><img src="{% static 'img/skills/Skill_2.png' %}" class="img-fluid" alt="Colorlib Template"></a>
          </div>
          <div class="col-sm ftco-animate">
            <a href="#" class="partner"><img src="{% static 'img/skills/Skill_3.png' %}" class="img-fluid" alt="Colorlib Template"></a>
          </div>
          <div class="col-sm ftco-animate">
            <a href="#" class="partner"><img src="{% static 'img/skills/Skill_4.png' %}" class="img-fluid" alt="Colorlib Template"></a>
          </div>
          <div class="col-sm ftco-animate">
            <a href="#" class="partner"><img src="{% static 'img/skills/Skill_5.png' %}" class="img-fluid" alt="Colorlib Template"></a>
          </div>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">Python <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Django <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Tensorflow <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Automation <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Flask <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Rest API <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Algo Trading <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Pratik Mahobiya</h4>
              <ul>
                <li>Korba, Chhattisgarh INDIA</li>
                <li>+91-7000-68-10-73</li>
                <li>pratikmahobiya20@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Engineering in Computer Science</h4>
              <h5>2015 - 2019</h5>
              <p><em>Chhattisgarh Swami Vivekananda Technical University, Bhilai</em></p>
              <p>I'm completed my engineering from RUNGTA COLLEGE Of ENGINEERING And TECHNOLOGY, Raipur
                    With 1<sup>ST</sup> Division.</p>
            </div>
            <div class="resume-item">
              <h4>Trained in PYTHON and ORACLE.</h4>
              <h5>2017 - 2018</h5>
              <p><em>Naresh IT, Hyderabad</em></p>
              <p>From here I'm getting interest in coding, I started my training on Python and Oracle.</p>
            </div>
            <div class="resume-item">
              <h4>Trained in Web-Development(Django).</h4>
              <h5>2019 - 2020</h5>
              <p><em>3RI Technologies, Pune</em></p>
              <p>Here I get Fully Trained in python and in Its Frameworks.</p>
            </div>
            <div class="resume-item">
              <h4>Python Developer</h4>
              <h5>June 2020 - February 2021</h5>
              <p><em>Aon Digicon, Korba </em></p>
              <ul>
                <li>Lead in the design, development, and implementation of the Machine Learning algorithms such as OCR, Object-detection.</li>
                <!-- <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
                <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
                <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li> -->
              </ul>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>FreeLancer Python Developer</h4>
              <h5>February 2021 - February 2022.</h5>
              <p><em>Freelancering, Raipur </em></p>
              <ul>
                <li>Develop a Dynamic Website for <b>Ethical Tax Solutions, Korba</b> using React(Front-end) and Django, Django-rest-Framework(Back-End). </li>
                <li>Worked With a team of Freelancers on a Jewellery Recommenation System. </li>
                <li>Recently, I am working with my friend on Algorithamic Trading App (from Algorithm Development to programm that Algorithm for daily Intraday trading) and Create a Online Bill Generation Web Portal for <b>NatureLite Organics Foods</b> with feature like Mobile Sms for Shorted Url Links.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Software Developer</h4>
              <h5>February 2022 - Till Now.</h5>
              <p><em>Bengaluru, Karnataka </em></p>
              <ul>
                <li>Python/Django Back-End Developer Skilled in Django, Django-rest-Framework, Rest API's, PostGres Sql, Writing Scripts to import/export data etc. </li>
                <li>Skilled in handling the Back-End of E-commerce Platform.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="icofont-computer"></i></div>
            <h4 class="title"><a href="#">Web Design</a></h4>
            <!-- <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> -->
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
            <h4 class="title"><a href="#">Software Development</a></h4>
            <!-- <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p> -->
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="icofont-earth"></i></div>
            <h4 class="title"><a href="#">Web Developer</a></h4>
            <!-- <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p> -->
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="icofont-image"></i></div>
            <h4 class="title"><a href="#">Automation</a></h4>
            <!-- <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p> -->
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="icofont-settings"></i></div>
            <h4 class="title"><a href="#">Algo Trading</a></h4>
            <!-- <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p> -->
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="icofont-tasks-alt"></i></div>
            <h4 class="title"><a href="#">Product Strategy</a></h4>
            <!-- <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p> -->
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Korba, Chhattisgarh, India</p>
              </div>

              <div class="email">
                <a href="mailto:pratikmahobiya20@gmail.com">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>pratikmahobiya20@gmail.com</p>
                </a>
              </div>

              <div class="phone">
                <a href="tel:+917000681073">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+91 7000 68 10 73</p>
                </a>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d236192.28840761687!2d82.60675693263863!3d22.33457159708994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a278f26de2eba65%3A0x3048cc6dcbdadff4!2sKorba%2C%20Chhattisgarh!5e0!3m2!1sen!2sin!4v1612589651663!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>

            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="/contact/" method="post" role="form" class="php-email-form" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" class="form-control" id="id_Name" name="Name" data-rule="minlen:4" data-msg="Please enter your Name.">
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" id="id_Email" name="Email" data-rule="email" data-msg="Please enter a valid email." />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Contact</label>
                <input type="tel" class="form-control" id="id_Contact" name="Contact" data-rule="minlen:10" data-msg="Please enter at least 10 Digit Number" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" id="id_Message" name="Message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <!-- <div class="form-group">
                <label for="name">Files(Optional)</label>
                <input type="file" accept="image/*,.pdf,.doc" class="form-control" id="id_File" name="File" multiple>
              </div> -->
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
      </div>
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'js/materialize.min.js' %}"></script>

      {% if messages %}
          {% for message in messages %}
            <script>
              Materialize.toast('{{ message }}', 2000);
            </script>
          {% endfor %}
      {% endif %}
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">Copyright &copy;<strong><script>document.write(new Date().getFullYear());</script></strong>
      </div>
      <div class="credits">
        <p>Made By <strong><a href="#about-section" target="_blank">@Pratik_Mahobiya</a></strong></p>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>